<div class="flex flex-col gap-2">
  <div class="h-16 bg-white rounded border border-gray-200">
    <div class="flex gap-1 items-center p-4 h-full">
      <span class="material-symbols-outlined text-secondary">overview</span>
      <div class="text-xl text-primary">{{ 'PROFILE.PERSONAL_INFORMATIONS' | translate }}</div>
    </div>
  </div>

  <div class="bg-white border border-gray-200 p-4 min-h-72 flex flex-col gap-4 rounded">
    <profile-upload-images 
      [coverImageUrl]="formControl.coverImageUrl.value"
      [profileImageUrl]="formControl.profileImageUrl.value" 
      (imageUrl)="imageUploadUrl($event)">
    </profile-upload-images>

    <form class="mt-24" [formGroup]="personalDetailsForm">
      <div class="flex flex-row gap-2 mb-2">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>{{ 'PROFILE.FORM.FIRST_NAME' | translate }}</mat-label>
            <input [formControl]="formControl.firstName" matInput type="text"/>
          </mat-form-field>
          <validation-message [control]="formControl.firstName"></validation-message>
        </div>
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>{{ 'PROFILE.FORM.LAST_NAME' | translate }}</mat-label>
            <input [formControl]="formControl.lastName" matInput type="text"/>
          </mat-form-field>
          <validation-message [control]="formControl.lastName"></validation-message>
        </div>
      </div>
      <div class="flex flex-row gap-2 mb-2">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>{{ 'PROFILE.FORM.EMAIL' | translate }}</mat-label>
            <input [formControl]="formControl.email" matInput type="text"/>
          </mat-form-field>
          <validation-message [control]="formControl.email"></validation-message>
        </div>
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>{{ 'PROFILE.FORM.PHONE' | translate }}</mat-label>
            <input [formControl]="formControl.phone" matInput type="text"/>
          </mat-form-field>
          <validation-message [control]="formControl.phone"></validation-message>
        </div>
      </div>
      
      <div class="w-full flex justify-end">
        <button (click)="savePersonalInformations()" mat-raised-button>{{ 'GLOBAL.SAVE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
